# Begin /boot/grub/grub.cfg
set default=0
set timeout=5

insmod part_msdos
insmod ext2

set root=(hd0,1)

set gfxpayload=1024x768x32

menuentry "GNU/Linux, MC_Linux 7.0.12-mcutura" {
        linux   /vmlinuz-7.0.12-mcutura root=/dev/vda3 rootflags=subvol=@lfs rw console=ttyS0,115200
}
